@model CertificationEditViewModel

@{
    ViewBag.Title = "Delete Certification";
    ViewBag.lien = "Certifications";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    Delete <strong class="card-title"> @Model.sigle</strong>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="alert alert-warning">
                            you are about to remove this certification, the action will be irreversible. Are you sure?
                        </div>

                        <input asp-for="certificationId" hidden />

                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fa fa-check-circle"></i> Confirm Delete
                            </button>
                            <a asp-action="Index" asp-controller="Certification" class="btn btn-dark btn-sm">
                                <i class="fa fa-reply"></i> Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>